/* General Styling */
body {
    font-family: 'Arial', 'sans-serif';
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color:#FFF4EA;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color:#257180;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid black;
}
#objective{
  box-shadow:0 0 15px black;
  font-size: 18px;
  padding: 2%;
  margin: 20px 0 10px;
  color: black;
  border-radius: 10px;
  margin-top: 5%;
  height: 270px;
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  margin-bottom: 5%;
  text-align: center;
}

#certification{
    box-shadow:0 0 15px black;
  font-size: 18px;
  padding: 4px;
  margin: 20px 0 10px;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  border-radius: 10px;
  margin-top: 15%;
  margin-bottom: 5%;
  height: 250px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
#left-f-hading{
    color:white;

}
#right-f-heading{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    text-align: center;
}
#paragraph{
    text-align:justify;
    hyphens: auto;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #257180;
    margin-top: 5%;
    margin-bottom: 5%;
}


ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #F3F7EC;;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #257180;
}